[2016-08-11 22:44] mgattozzi opened #1 "Futures"
With the release of [futures-rs](https://github.com/alexcrichton/futures-rs) this API should move towards that so as to not block other needs in the application while waiting for responses

[2016-09-15 02:25] mgattozzi opened #2 "Allow querying by GraphQL"
http://githubengineering.com/the-github-graphql-api/

[2016-12-09 20:06] mgattozzi commented on #1
Hyper looks like it will be getting this support built in so when that happens this can be updated

[2016-12-09 20:07] mgattozzi opened #7 "Fix windows builds"
The builds for windows have been failing and they need to be updated accordingly

[2016-12-10 23:26] mgattozzi commented on #7
Closed in #10

[2016-12-10 23:26] #7 closed

[2016-12-21 19:43] mgattozzi opened #14 "Result type exports publicly"
This can cause some problems if the person does:

use github_rs::github::*;

It should be exported as it's own file.

[2017-01-16 10:26] aochagavia opened #15 "Evaluate replacing Hyper by reqwest"
I just stumbled upon this library, so take this with a grain of salt.

It seems to me that you are using hyper only to perform simple requests, so maybe it would make sense to use reqwest instead. A big benefit from this is that the user no longer needs openssl to be installed on the system (unless you are on Linux), because reqwest relies on the native tls implementation (provided by the `native-

[2017-01-16 16:06] mgattozzi commented on #15
I'm looking towards switching Hyper to 0.10 which removes the openssl dependency would should make your windows problem go away. It was a big blocker as well since it was using a an old version of openssl-sys but other crates used newer versions causing conflicts. If you look [here](https://github.com/mgattozzi/github-rs/blob/master/src/requests.rs#L68-L80) you'll see that I need to set some custo

[2017-01-16 18:00] aochagavia commented on #15
Ok, thanks for your reply!

[2017-01-16 18:00] #15 closed

[2017-01-16 19:22] mgattozzi commented on #15
@aochagavia thanks for bringing it up! It's nice to know people are using the library so I'll work on it this week and push a 0.4 hopefully

[2017-01-17 20:12] mgattozzi commented on #15
@aochagavia I just pushed 0.4 to crates.io it uses rustls under the hood so it's a native rust dependency meaning you won't need openssl at all! Enjoy!

[2017-01-18 09:34] aochagavia commented on #15
Great! Thanks

[2017-01-18 21:49] mathstuf opened #16 "Complete API types used"
Things to do:

  - [ ] support all fields
  - [ ] document all fields

Problems that will arise:

`Repo` has a `parent` key which is itself another `Repo`, but this causes a recursive structure. I don't know if serde supports using `Option<Box<Repo>>` instead.

[2017-01-18 21:50] mathstuf commented on #16
Hmm, the various `_url` fields can probably be ignored and instead just be done with other methods on the various traits.

[2017-01-18 21:52] mathstuf opened #17 "Support webhooks"
Support for webhooks would be nice to have. Supporting deserializing all webhooks in a simple way can be done the same way I'm doing it for Gitlab [here](https://gitlab.kitware.com/utils/rust-gitlab/tree/f174c578933539c6daf482729cff65a14e46f492).

[2017-01-18 22:16] mgattozzi commented on #17
Definitely! Webhooks is a pretty big thing considering that's often how the API is used. It's definitely a goal. PRs are welcome but chances are I'll have to implement this myself when I get the time. I can prioritize this over other portions of the API

[2017-01-18 22:18] mgattozzi commented on #16
Generally this is why I made different types even if it was the exact same field. However in this case it might not be possible. I'll have to dig in to Serde to see if that's possible. I'm guessing this is common enough that they have a solution for it.

[2017-01-19 14:46] mathstuf commented on #17
No need to change priorities at the moment.

We'll probably need github support in the `ghostflow-director` at some point, but it hasn't formally hit the roadmap yet. This is the more active of the existing github crates, so I'm adding issues for what I know will eventually be necessary for us.

If you don't get around to the bits we'll need when we finally get around to it, I'll have PRs :) .

[2017-01-19 14:51] mathstuf opened #18 "Support de-pagination"
Paginated queries are a bit annoying and the `next` headers given by github itself are better than just doing blind page bumps (race conditions with remote actions), so a way to just handle the pagination internally would be great.

Separate calls for each is probably unweildly, so maybe something like:

[code]

Then API rate limiting could also be detected in one place and handled gracefully.

[2017-01-19 15:10] mgattozzi commented on #18
I like this idea. I think I originally implemented pagination as it is now to just get it working but the function calls are pretty ugly as is. It'd be nice to handle it with the next headers. I was spending more time working on the actual calls then all the underlying implementation.

[2017-01-19 15:18] mgattozzi commented on #17
That sounds good I'd be more than happy to review, merge, and then publish a new version so you can use it in your projects without a git dependency. Please send some in if I don't get around to it! Curious do you mean [this ghostflow-director](https://gitlab.kitware.com/utils/ghostflow-director) at all since it's also a Rust project?

[2017-01-19 15:40] mathstuf commented on #17
Yep, that's the one. Well, one of them. The [rust-ghostflow crate](https://gitlab.kitware.com/utils/rust-ghostflow/) has the mechanisms, the director holds the policy decisions.

[2017-01-19 15:52] mgattozzi commented on #17
Ahhh okay got it! Either way feel free to open up issues/PRs as needed. I'm more than happy to resolve these issues as they come up!

[2017-01-21 16:15] mathstuf opened #19 "Support hidden API endpoints"
So I contacted Github about one of the endpoints we'd need and apparently it exists, but is not publicly documented (though they did mention that it is stable and may become public in the future). Rather than exposing such an endpoint through a trait, it'd be nice to be able to craft a custom URL for use. This would probably just return a plain JSON value rather than trying to decode it as anythin

[2017-01-23 14:45] mgattozzi commented on #19
I think that's doable. It could be a nice stop gap for people in the meantime while the rest of the API is still getting built into functions. I have an underlying JSON type in types.rs I think that's an alias to the HashMap that Serde uses to access values. It would be best to make generic functions for GET, PUT, DELETE, and POST. In the case of PUT and POST it'll need to be polymorphic over `T:

[2017-01-23 14:50] mgattozzi opened #20 "Support ETags and Caching"
Github sends back ETags and if used does not count against the rate limit that GitHub has
https://developer.github.com/v3/#conditional-requests

Cookies of some sort might need to be implemented as part of this.

[2017-01-25 04:17] mgattozzi commented on #17
I'll probably be working on this issue in particular more soon as I've started working on a Github Bot

[2017-01-25 14:34] mathstuf commented on #17
Out of curiosity, what kind of bot? :)

[2017-01-25 15:38] mgattozzi commented on #17
Something like bors or homu, hopefully making it more full featured to help automate tasks on GitHub. Was thinking of building it out with something like Tokio as a learning experience

[2017-01-25 16:07] mathstuf commented on #17
Ah, we've built one for Gitlab (that's ghostflow-director), but alternative hosts are abstracted out (which is why I'm here :) ). The design is that it actually "listens" to jobs arriving through a directory dropped by a generic webhook-listen project (this is because hosts tend to have problems delivering hooks out-of-order due to exponential backoff when restarting the listener or it chokes on s

[2017-01-25 16:15] mgattozzi commented on #17
Oh that's pretty neat actually!

[2017-03-18 21:47] mgattozzi commented on #1
Currently the async branch includes this. When merged this can be closed

[2017-03-18 21:48] mgattozzi opened #23 "Hyper v0.11"
Until Hyper goes to v0.11 we're blocked from a 0.5 release as the async branch is using a git import. crates.io does not allow this.

[2017-03-18 21:49] mgattozzi opened #24 "Get Patch Async working"
Add ways for a Patch request to work so that endpoints can be built off it in the future.

[2017-03-18 21:50] mgattozzi opened #25 "Get Delete Async Working"
Get Delete methods working so that this can be expanded to other endpoints in the future

[2017-03-18 21:50] mgattozzi opened #26 "Get Post Async Working"
Get Posts working so that it can have its endpoints expanded in the future.

[2017-03-18 21:51] mgattozzi opened #27 "Get Put Async Working"
Get Posts working so that it can have endpoints expanded on in the future.

[2017-03-18 21:52] mgattozzi commented on #23
This and #1 will be closed simultaneously on merge

[2017-03-18 21:59] mgattozzi commented on #14
Will no longer be an issue once async is merged. Adding this to the 0.6 release.

[2017-03-18 22:04] mgattozzi opened #28 "Get all non-preview endpoints working"

[2017-03-18 22:05] mgattozzi opened #29 "Get all preview endpoints working"
Of course this will be ongoing but at a certain point all at a given time will be completed and later can be expanded upon as new ones come out.

[2017-03-18 22:06] mgattozzi opened #30 "Get all non-preview Enterprise endpoints working"
This might be way out till completion. I have no enterprise account or have a way to test this. It's more like a want than a need.

[2017-03-18 22:06] mgattozzi opened #31 "Get all preview Enterprise endpoints working"
This might be way out till completion. I have no enterprise account or have a way to test this. It's more like a want than a need.

[2017-03-18 22:18] mgattozzi opened #32 "Compile on Stable: pub(restricted)"
pub(restricted) should be available in the 1.17 release of rust

[2017-03-19 09:32] matthiasbeyer opened #33 "docs are not there"
It seems that the docs are not there for the repository. The link leads to an empty doc page.

[2017-03-19 13:39] mgattozzi commented on #33
docs.rs doesn't lead directly to it but I can see how this can be confusing and I can update the link if this helps you out. Here's the link to the actual [docs](https://docs.rs/github-rs/0.4.0/github_rs/github/index.html)! I am in the middle of completely rewriting the API so these docs will end up being irrelevant in the next release.

[2017-03-19 13:40] matthiasbeyer commented on #33
Wow, awesome! Thanks a lot for your effort!

[2017-03-19 13:40] #33 closed

[2017-03-19 13:45] mgattozzi commented on #33
@matthiasbeyer Thank you! If you run into any issues or have endpoints that you need prioritized please feel free to open up an issue and I'll be more than happy to get them working for the next release. It's blocked till Hyper v0.11 is out. I'll release a pre-release then until pub(restricted) gets stabilized!

[2017-03-30 22:13] mgattozzi commented on #14
Async was merged so this is no longer an issue

[2017-03-30 22:13] #14 closed

[2017-03-30 22:13] mgattozzi commented on #1
Async was merged so this is no longer an issue

[2017-03-30 22:13] #1 closed

[2017-03-30 22:17] mgattozzi commented on #16
It's been a while but I've completely rewritten the API for an upcoming release. It'll be using Serde's [Value type](https://docs.serde.rs/serde_json/value/enum.Value.html) making it up to the user how they want to go from there. It allows easier access of the JSON and the only thing one would need to refer to is the GitHub docs. @mathstuf would this be sufficient for you in order to close the iss

[2017-03-30 22:17] mgattozzi commented on #16
Didn't mean to close that....

[2017-03-30 22:18] mgattozzi commented on #18
I'll be looking into this at some point. Probably in a 0.6 release. I want to pass it as part of the headers through a function call (that is now optional) and then figure out how to handle the next headers somehow.

[2017-03-30 22:20] mgattozzi commented on #19
I plan on adding a custom endpoint soonish that will allow flexibility for the API while things aren't complete. This should be easy to do now that the new design has been implemented

[2017-03-30 22:23] #24 closed

[2017-03-30 22:24] #25 closed

[2017-03-30 22:24] #27 closed

[2017-03-30 22:24] #26 closed

[2017-03-31 14:39] mathstuf commented on #16
Actual structs are nice, but I can work with `Value` types.

[2017-03-31 19:20] mgattozzi commented on #16
I could add structs in as an optional feature flag in the future. This gives more flexibility to end users with what they want.

[2017-04-06 18:56] mathstuf commented on #16
You'll probably hit the same problem I had with gitlab, but maybe not as badly: if you don't get the types right (e.g., missing that a field can be `Option<T>` rather than just `T`), you're stuck with a major bump because fixing the type is backwards-incompatible.

We solved that by just creating a mapping from `gitlab 8.17` into `rust-gitlab-0.817.0` and not doing a `1.0` until we're more confide

[2017-04-10 22:53] mgattozzi commented on #19
Custom endpoints were added in #37!

[2017-04-10 22:53] #19 closed

[2017-04-10 23:01] mgattozzi commented on #16
Yeah I can totally see that happening and it did in prior version. I thought those would be minor bumps? 1.0 -> 1.1 when an enum or something changes rather than a major bump. Or is that for prior to 1.0 with semantic versioning? If it is then this can be made into a 1.0 blocking issue

[2017-04-10 23:03] mathstuf commented on #16
If the enum is meant to be "complete", adding variants breaks match blocks without a "catch-all" arm. Also, changing a field into Option is breaking if it is realized that some field can be null.

These are minor bumps before 1.x, but major afterwards.

[2017-04-10 23:21] #20 closed

[2017-04-20 18:55] mgattozzi opened #43 "Design Docs out of date"
The design docs make multiple references to how the old macros worked. They will need to be updated at some point.

[2017-04-23 02:42] kpcyrd opened #44 "Doesn't compile on stable"
[code]
The custom_derive is probably not needed anymore as serde is compatible with rust stable. The library in master looks a lot different from 0.4.0, I'd love to have a new version available on crates.io soon-ish :)

[2017-04-23 05:11] mgattozzi commented on #44
@kpcyrd I'm not sure if I had pushed a stable version to crates.io, as there was a time where I was dependent on nightly. I'm hoping for this to work on stable soon as well! There's two blocking issues right now: #32 and #23. #32 is the big one since it's what's keeping the current master branch on nightly. #23 is what's preventing any kind of upload to crates.io with a new version since it's a gi

[2017-04-24 13:49] mgattozzi commented on #44
Hey @kpcyrd I went to a branch I still have up that was the last commit before the new redesign. I've pushed the changes to crates.io as version 0.4.1! That should solve any problems you might have been having with compilation for now. Though the upcoming update will be quite a break. If this doesn't solve your issue please let me know!

[2017-04-24 13:49] #44 closed

[2017-04-24 15:43] kpcyrd commented on #44
@mgattozzi thanks a lot!

[2017-04-24 16:47] mgattozzi commented on #44
@kpcyrd you're welcome!

[2017-04-28 05:49] killercup opened #45 "Add compiletest"
Add compile-fail tests to make sure invalid queries can't be constructed. You can also use it to make sure "good" errors are thrown, or warnings (e.g. from must_use) are present.

(Diesel is using this for testing the query builder if you want to see a non-compiler use case.)

[2017-04-28 05:57] mgattozzi commented on #45
Given how Diesel works compared to this I'm not sure if that's possible. I'll see if it is though. I do want to build a test suite of requests anyways to make sure they all work and return correct values amongst other things.

[2017-04-28 06:31] mgattozzi commented on #45
Ah okay I see what Diesel is doing. Yeah I'll add some in as part of a big test suite

[2017-05-10 17:14] EwanValentine opened #50 "Docs state to use version 0.5, however that doesn't seem to exist"
In the docs, it says to use...

[code]

However, when I run `cargo install` I get...
[code]

[2017-05-10 17:20] EwanValentine commented on #50
As a side note, when I use `0.4` I get:

[code]

[2017-05-10 17:56] mgattozzi commented on #50
Hey @EwanValentine I'm sorry about that. The current branch has 0.5 in preparation for the launch at some point when Hyper 0.11 and pub(restricted) are out. As such the docs are ahead of the current implementation. The change from 0.4 to 0.5 is a huge breaking change but it's not able to release because of those blocking issues. For the 0.4 code you want this to make requests: https://docs.rs/gith

[2017-05-12 08:11] EwanValentine commented on #50
Gotcha, thank you! :)

[2017-05-12 08:11] #50 closed

[2017-05-12 16:20] mgattozzi commented on #50
Awesome! I'll be pinging anyone who was expecting to use 0.5 when it releases which is at the earliest when the next stable release of Rust comes out.

[2017-05-21 02:45] chenshuiluke commented on #50
Hey, do you mind pinging me too? @mgattozzi

[2017-05-21 03:04] mgattozzi commented on #50
@chenshuiluke will do!

[2017-05-22 14:44] mgattozzi opened #52 "RFC: GitHub v4 and maintenance of v3"
Today GitHub announced that they're moving over to GraphQl for their "v4" library. As such all of the bindings and code now are going to not work after sometime. When I wrote issue #2 I thought they would coexist for a while but at some point "v3" much like "v2" and "v1" will be deprecated. As such going forward it seems like making this a graph-ql library would make sense. However, I'd rather not

[2017-06-15 21:33] mgattozzi opened #56 "hyper-tls or another tls connector"
Until another adaptor or hyper-tls gets a release we can't release 0.5 yet unfortunately as it's the last git dependency and the GitHub API requires an https connection to work.

[2017-06-15 21:33] mgattozzi commented on #23
Hyper 0.11 was released a few days ago so this can now be closed

[2017-06-15 21:33] #23 closed

[2017-06-15 21:33] mgattozzi commented on #32
pub(restricted) has been released so this can now be closed!

[2017-06-15 21:33] #32 closed

[2017-06-23 11:31] CameronDiver opened #57 "Cannot use github-rs 0.5 or 0.4 with cargo"
Using the example from the README, I added
[code]
to my cargo.toml, and issued a `cargo build`, to be met with:
[code]
I then switched to the dependency to 0.4, because apparently that is available, and was
 met with:
[code]

I could be doing something wrong, as I haven't done much rust at all, but it seems like this should work? I tried both with stable 1.18 and nightly 1.20, and got the same res

[2017-06-23 13:45] mgattozzi commented on #57
Hey @CameronDiver you're not crazy. If you go to the crate's page that it mentions [here](https://crates.io/crates/webpki/versions) you can see that the version used was yanked (specifically 0.8.0) but that's most likely from Hyper 0.10 at the time, which is why it fails to compiler. Today the last change I needed to make before I could release 0.5 is over with so I've pushed 0.5 to crates.io. Use

[2017-06-23 13:45] #57 closed

[2017-06-23 13:45] #56 closed

[2017-06-23 13:48] mgattozzi commented on #50
@chenshuiluke and @EwanValentine I just wanted to let you know 0.5 has finally been released now that all the blocking issues are out of the way!

[2017-06-23 16:08] CameronDiver commented on #57
@mgattozzi it seems to be working fine now! Thanks for the quick reply, and the awesome crate ;)

[2017-06-23 17:38] mgattozzi commented on #57
@CameronDiver that's great, thanks! I'm always looking for feedback and how it can improve so if you need something just open up an issue and I'll see if it's doable

[2017-06-25 22:01] chenshuiluke commented on #57
Hey, thanks man! This is a great lib and I've had no problems using it!

[2017-06-25 22:57] mgattozzi commented on #57
@chenshuiluke That's great to hear! The goal was to make it more ergonomic with 0.5 but it's great to see that feedback that it is so thank you!

[2017-08-01 21:48] AlexNPavel opened #60 "Support GET parameters"
Some parts of the v3 API have optional GET parameters, such as https://developer.github.com/v3/pulls/#list-pull-requests. These should probably be added to this library as they can provide useful functionality (like sorting pull requests by date).

[2017-08-02 02:24] mgattozzi commented on #60
I've been thinking a bit about this. If you take a look at [this line](https://github.com/mgattozzi/github-rs/blob/a0de20fef6ddab3b6c0590995a669cde8712e400/src/client.rs#L122) this is how the get type is called. Not far bellow it you'll see we have both `put` and `put_empty`. Best thing to do would be to create a `GetWithQueryBuilder` type and have a function called `get_with` that takes in a list

[2017-08-08 17:26] mathstuf opened #62 "Support Github enterprise"
This requires using a non-`github.com` hostname I believe. Or is there no hosted version of Github?

[2017-08-08 18:32] mgattozzi commented on #62
If you look at the [trial sign up page](https://enterprise.github.com/trial) it looks like it's a hosted instance whether on the cloud or your own servers. I would like to implement this at some point. The docs show how to do it. I just wouldn't know if it worked.

[2017-08-08 18:39] mgattozzi commented on #62
The real problem is just paying for the thing. I wonder if Github would let me have a small instance to just test this against. I'll have to get in contact with them about it.

[2017-08-08 18:55] mathstuf commented on #62
I think just offering a method which takes a URL behind a feature flag with a note that it isn't tested (and a request for information about how it works) would be fine too if you can't get a small instance.

[2017-08-09 00:22] mgattozzi commented on #62
That seems doable and I'd be fine with implementing it behind a flag. If you want to implement some specific Enterprise endpoints I'd be more than happy to walk you through how to do it and merge them.

[2017-08-10 13:33] mathstuf commented on #62
I don't think I have any Enterprise-specific endpoints to communicate with; I'll just need the ability to talk to other Github instances.

[2017-08-10 13:40] mgattozzi commented on #62
Ah got it. In the meantime there's the [custom_query](https://docs.rs/github-rs/0.5.1/github_rs/client/struct.GetQueryBuilder.html#method.custom_endpoint) method I've added to all of the different method requests that you can use if the library doesn't cover what you need right now.

[2017-08-10 13:51] mgattozzi opened #63 "Better documentation for github-rs"
While the docs for how the library works are okay in principle the actual docs for github-rs generated by rustdoc are seriously lacking. Implementing crate level documentation as well as pointing one to the client docs would be a good starting point.

[2017-08-10 14:28] mathstuf commented on #52
There have been mentions of folks working on GraphQL client libraries, but I've only seen questions, not actual repositories. There's the juniper GraphQL *server* in Rust, but I haven't seen a client library yet :( .

[2017-08-10 15:27] mgattozzi commented on #52
Yeah @mathstuf this is what I've seen as well. The spec for GraphQL also doesn't map to Rust all to well from what I've done with [gql-rs](https://github.com//mgattozzi/gql-rs) though it has been some time since I even worked on it. All the code for it is still sitting on my machine. The nice thing is we only really need to worry about serialization and deserialization. What people do with it afte

[2017-08-10 17:24] mathstuf commented on #52
I feel like some build-time library to convert from a GraphQL IDL into Rust is probably best (though I can't seem to see where this IDL is specified?).

[2017-08-10 17:43] mgattozzi commented on #52
You mean GitHub's IDL?

[2017-08-10 17:47] mathstuf commented on #52
I see hints of there being some GraphQL IDL which describes the API (kind of like D-Bus XML if you're familiar with it).

[2017-08-11 14:13] mgattozzi commented on #52
I have not messed with D-Bus XML personally. It'd be great to get the IDL if possible. The docs are a bit sparse at this point but I have made a few requests with curl to see how it works/if it does. For now I was thinking maybe allow querying by graphQL as a String input (for experimentation/using it) but later add a type safe serialization layer on top of it for people to use as docs become more

[2017-08-11 14:33] mathstuf commented on #52
That would be a good start at least…I don't know what their timeline for removing v3 is and I'd rather not be hit with a "in two weeks" deadline :) .

[2017-08-18 00:00] AlexNPavel commented on #60
If we do end up using reqwest instead of hyper like pull #64 suggests, this we could use reqwest's set_query function on the reqwest Url when first making the GetQueryBuilder, and then to preserve that when we expand the Url (in url_join), we could do something like this:
[code]
This makes it very simple, we would just need to decide how we want users to create the query without have to manually s

[2017-08-18 01:34] mgattozzi commented on #60
I think a HashSet would also serve that purpose well. It'll make sure we avoid people adding the same thing twice by accident. Unlikely but it makes sense design wise. HashSet is just a HashMap in Rust with some extra restrictions is all. Probably would do something like `HashSet<&str, &str>` with whatever lifetime parameters are needed. I think this would work out well!

[2017-08-29 15:08] mathstuf opened #72 "Support async calls"
This can be done through reqwest's async client (currently unstable). Instead of responses, a future with the response is returned instead. It is up to the application to set up an event loop to handle the futures.

[2017-08-29 15:18] mgattozzi opened #73 "Add other crates types to `error-chain`"
That way we don't need to use `chain_err` everywhere. They would need to be added [here](https://github.com/mgattozzi/github-rs/blob/master/src/lib.rs#L22). This helps with things like [this error](https://github.com/mgattozzi/github-rs/blob/734fc1ecb9acd3985ada21d34daf4d932fc19b6d/src/macros.rs#L223) handling. We can just add `?` for most of them and it should just work if the type it's erroring

[2017-08-29 15:52] mgattozzi opened #74 "Remove hyper dep and switch to http crate"
Mostly to avoid extra deps when we only need types

[2017-09-12 22:45] crawford opened #81 "Unable to fetch resources"
I looks like this was broken in 13cd8755a280196baa991ce8d57e65bd30be8e11.

Given the following code:

[code]

I'm seeing messages like the following in my logs:

[code]

The correct URL is `https://api.github.com/repos/crawford/repo/pulls/2`.

After locally reverting the patch in question, my code works again.

[2017-09-12 23:17] mgattozzi commented on #81
Got it. Thanks for the bug report! I'll take a look when I can probably sometime tomorrow.

[2017-09-12 23:17] crawford commented on #81
/cc @mathstuf

[2017-09-12 23:22] mgattozzi commented on #81
We might want to get this in as part of #79 since it's already fixing the URL and I noticed it wasn't working there.

[2017-09-22 18:04] crawford commented on #81
@mgattozzi Since there hasn't been any progress in 10 days, can we revert https://github.com/mgattozzi/github-rs/pull/70? I have some work that is waiting on a resolution.

[2017-09-22 18:16] mathstuf commented on #81
Yes, that's fine with me for now. I'll look into it again when I get the chance.

[2017-09-22 18:55] mgattozzi commented on #81
@crawford yeah I'll do that now and then merge this in.

[2017-09-22 19:05] mgattozzi commented on #81
Reverted #70 in ad65e1d7538bfab116c4702b52c32acc06218ca1
Fixed tests from reversion in 0b57e84f084bc699b64eda5eb962e0f9a56a918f

[2017-09-22 19:05] #81 closed

[2017-09-26 01:00] mgattozzi commented on #52
I've put in #84. github-rs is still the primarily supported crate but V4 is now getting work started with it.

[2017-09-26 01:01] #52 closed

[2017-09-26 01:11] #2 closed

[2017-10-02 23:46] marioidival opened #86 "Hacktoberfest issues?"
Hey, you can add some labels in issues or create new issues with hacktoberfest labels?

[2017-10-03 03:10] mgattozzi commented on #86
Yeah I'd love to actually. Let me whip some up tomorrow and leave instructions for people! Most of my work is being done on the upcoming V4 API but many people still use V3 (and it's better documented). Mostly it's adding endpoints which isn't all that hard! It just takes time! I'll get to it tomorrow before work. Does that sound good @marioidival?

[2017-10-03 04:15] marioidival commented on #86
@mgattozzi yes! I'm already working on adding an new endpoint

[2017-10-03 14:15] mgattozzi commented on #86
I've started opening up issues so as you see them feel free to work on them :) Even if I don't label an issue hacktoberfest feel free to take a crack at them :D

[2017-10-03 14:15] #86 closed

[2017-10-03 14:22] mgattozzi commented on #45
Currently we don't have a way to test invalid queries. We should set something up like Diesel does. You can see an example of the tests and code to get it to work [here](https://github.com/diesel-rs/diesel/tree/master/diesel_compile_tests).

Steps to complete:
1. Set up the testing crate by adding it to the workspace in Cargo.toml
2. Set up some tests of invalid compile queries (e.g. calling a fun

[2017-10-03 14:39] mgattozzi opened #87 "Add #[must_use] to types"
Currently people can build up a query but forget to use it or they build only a partial query. We want to warn users of the two cases. This requires a few things:

1. First copy [this](https://github.com/mgattozzi/github-rs/blob/734fc1ecb9acd3985ada21d34daf4d932fc19b6d/src/macros.rs#L197-L20211) and place it above [here](https://github.com/mgattozzi/github-rs/blob/734fc1ecb9acd3985ada21d34daf4d932

[2017-10-03 14:47] mgattozzi commented on #63
One thing I'm waiting on is an implementation of my RFC in [rustdoc](https://github.com/rust-lang/rust/pull/44781) to allow including external files. Once this is merged it would be great to include the design docs as crate level documentation behind a nightly flag.

[2017-10-03 14:49] mgattozzi commented on #60
Support for this was added in https://github.com/mgattozzi/github-rs/commit/be41a90a16abf12c5e5d0ce0ff11eaecff994ba7 and works under version 0.6.0 so I'm closing this. @AlexNPavel I'm pinging you incase you didn't know :D

[2017-10-03 14:49] #60 closed

[2017-10-03 15:01] mgattozzi opened #88 "Non-Preview Users Endpoints"
See the endpoints doc for more details about what is open. The subsections for this correspond to the folders under `src`:
- [ ] GET
- [ ] POST
- [ ] PATCH
- [ ] PUT
- [ ] DELETE

Sub-Issue of #28

[2017-10-03 15:06] mgattozzi opened #89 "Non-Preview Gists Endpoints"
See the endpoints doc for more details about what is open. The subsections for this correspond to the folders under `src`:
- [x] GET
- [x] POST
- [x] PATCH
- [x] PUT
- [x] DELETE

Sub-Issue of #28

[2017-10-03 15:07] mgattozzi opened #90 "Non-Preview Issues Endpoints"
See the endpoints doc for more details about what is open. The subsections for this correspond to the folders under `src`:
- [ ] GET
- [ ] POST
- [ ] PATCH
- [ ] PUT
- [ ] DELETE

Sub-Issue of #28

[2017-10-03 15:08] mgattozzi opened #91 "Non-Preview Misc Endpoints"
See the endpoints doc for more details about what is open. The subsections for this correspond to the folders under `src`:
- [ ] GET
- [ ] POST
- [ ] PATCH
- [ ] PUT
- [ ] DELETE

Sub-Issue of #28

[2017-10-03 15:09] mgattozzi opened #92 "Non-Preview Notifications Endpoints"
See the endpoints doc for more details about what is open. The subsections for this correspond to the folders under `src`:
- [ ] GET
- [ ] POST
- [ ] PATCH
- [ ] PUT
- [ ] DELETE

Sub-Issue of #28

[2017-10-03 15:09] mgattozzi opened #93 "Non-Preview Orgs Endpoints"
See the endpoints doc for more details about what is open. The subsections for this correspond to the folders under `src`:
- [ ] GET
- [ ] POST
- [ ] PATCH
- [ ] PUT
- [ ] DELETE

Sub-Issue of #28

[2017-10-03 15:10] mgattozzi opened #94 "Non-Preview Repos Endpoints"
See the endpoints doc for more details about what is open. The subsections for this correspond to the folders under `src`:
- [ ] GET
- [ ] POST
- [ ] PATCH
- [ ] PUT
- [ ] DELETE

Sub-Issue of #28

[2017-10-03 15:10] mgattozzi opened #95 "Non-Preview Issues Endpoints"
See the endpoints doc for more details about what is open. The subsections for this correspond to the folders under `src`:
- [ ] GET
- [ ] POST
- [ ] PATCH
- [ ] PUT
- [ ] DELETE

Sub-Issue of #28

[2017-10-03 15:11] mgattozzi opened #96 "Non-Preview Teams Endpoints"
See the endpoints doc for more details about what is open. The subsections for this correspond to the folders under `src`:
- [ ] GET
- [ ] POST
- [ ] PATCH
- [ ] PUT
- [ ] DELETE

Sub-Issue of #28

[2017-10-03 15:12] mgattozzi opened #97 "Non-Preview Users Endpoints"
See the endpoints doc for more details about what is open. The subsections for this correspond to the folders under `src`:
- [ ] GET
- [ ] POST
- [ ] PATCH
- [ ] PUT
- [ ] DELETE

Sub-Issue of #28

[2017-10-03 15:16] mgattozzi opened #98 "Update endpoints docs"
Since I last checked it looks like the developer docs for [v3](https://developer.github.com/v3/) have been updated with more endpoints or subcategories. Having someone compare the two and seeing what preview endpoints are now stable would be great. Of course this is much harder to do since it's really time consuming and book keeping meticulous, but if you want to make a big contribution this is a

[2017-10-03 16:51] Henning-K commented on #89
I'd like to take this one.
Just to clarify, is each of the subsections supposed to be a PR or the whole list in one PR?

[2017-10-03 16:59] mgattozzi commented on #89
Hey @Henning-K You can do as few or as many in the subsections as you like! I'd prefer smaller focused PRs which makes it easier to review. Think maybe 10 to 15 endpoints as the upper limit. The checklist is mostly here to check off when the whole section is done.

[2017-10-03 17:02] mgattozzi commented on #89
Also let me know if the macros are confusing to figure out to implement them. #28 has some more info but ping me if you run into trouble.

[2017-10-03 17:03] Henning-K commented on #89
I haven't read through https://github.com/mgattozzi/github-rs/blob/master/docs/design.md fully yet. When I'm done and there are questions I know where to ask, thanks.

[2017-10-03 17:38] mgattozzi commented on #89
Awesome! :D Looking forward to a PR

[2017-10-03 18:39] Henning-K commented on #89
When is the "|?>" notation for the macros supposed to be used?
I've not seen any of the endpoints using this syntax here yet.

[2017-10-03 18:45] mgattozzi commented on #89
@Henning-K [here's an example of it being used](https://github.com/mgattozzi/github-rs/blob/734fc1ecb9acd3985ada21d34daf4d932fc19b6d/src/repos/get.rs#L55) it's to allow url parameters to be passed in! It was functionality added in https://github.com/mgattozzi/github-rs/commit/be41a90a16abf12c5e5d0ce0ff11eaecff994ba7. Some endpoints have optional Url parameters that people can add to modify behavio

[2017-10-03 18:52] Henning-K commented on #89
Huh, ok.
Little aside for the DELETE part of this:
When there are two different endpoints which use the same variable name at their ends but one url has more "steps" than the other can both have the same name in regards to new_type?

Meaning
/gists/:id
and
/gists/:gist_id/comments/:id

Can these both use some type like "ID" as the final part of the chain that gets then plugged into exec!() exactly

[2017-10-03 19:54] mgattozzi commented on #89
The convention for type names is each url bit gets an uppercase. In the above example:

/gists/:id -> GistsId
/gists/:gist_id/comments/:id -> GistsGistIdCommentsId

This keeps it distinct. For the most part the user really shouldn't be looking at the types. I want to cover this in #63 somehow. Makes sense?

[2017-10-03 19:55] Henning-K commented on #89
Oh, ok, that makes sense.
I'll change the files to reflect this.

[2017-10-03 19:55] mgattozzi commented on #89
Awesome! If you can do that for all the PRs I can take a look at them later today :D

[2017-10-03 20:04] Henning-K commented on #89
Are the names in the POST PR right?

[2017-10-03 20:49] mgattozzi commented on #89
ID should be Id but yeah this is correct. They're namespaced so you can have:

`github_rs::gists::post::Gists` and `github_rs::gists::delete::Gists`

They're distinct types so they end up not conflicting! The types end up creating a Directed Acyclic Graph (DAG) so it works well. A brief example:

[code]

This means users can only build a valid query and can't access endpoints that don't exist for

[2017-10-03 20:53] Henning-K commented on #89
So should I leave the names as the big compound words they are now or was my original approach to not add them up at each step in the chain correct after all?

(Sorry if I don't make sense, it's pretty late here right now)

[2017-10-03 21:19] mgattozzi commented on #89
No keep them as the big compound words for the endpoints. Just don't worry if they're the same between post and put for instance!

[2017-10-03 21:23] Henning-K commented on #89
Ah, *now* I see what you mean.

[2017-10-03 23:29] mgattozzi commented on #89
Yay! :D

[2017-10-04 04:22] ktomsic commented on #95
Would you mind if I work on this?

[2017-10-04 11:09] arbuztw commented on #92
Hi! I was wondering if I could take this?

[2017-10-04 13:51] mgattozzi commented on #95
Hey @ktomsic that would be great! :D Don't feel pressured to have a giant PR with all of these done at once. In fact smaller PRs, maybe 10 to 15 endpoints at most, would be preferable as it makes it easier for me to review. If you run into issues ping me here and I'll be glad to answer your questions and help you understand what's going on. Take a look at the [design docs](https://github.com/mgatt

[2017-10-04 17:41] janczer opened #105 "Example from readme doesn't compile"
Hi, I'm very new in rust, and I would like to contribute to this library, but have problem with compile simple example. When I try compile I'm getting an error:

[code]

Thank you

[2017-10-04 18:12] janczer commented on #105
Ok, I run the example.

I added this rows:
[code]

And change `.execute()` to `.execute::<Value>()`

[2017-10-04 18:58] #89 closed

[2017-10-04 19:00] mgattozzi commented on #105
@janczer yes that's what you need to do in order for it to work. Would you like to update the Readme as a first issue with this? It'd be a great first issue and would help others looking to use the library correctly :)

[2017-10-04 19:04] janczer commented on #105
Yes, I do it. I should update example/getting_started.rs too?

In order to this issue I think that in this examples:
https://github.com/mgattozzi/github-rs/blob/e07a2124a0b902b03a596bc21826ca46a84a4bff/examples/wrapping_responses.rs#L41

Should be `Ok(result)` ?

[2017-10-04 19:16] mgattozzi commented on #105
You should just need to modify README.md file to add the `extern serde_json;` and other lines. You don't need to modify the `github-rs/examples/wrapping_responses.rs` file

[2017-10-04 20:03] mgattozzi commented on #105
Resolved with #106! Thanks again @janczer

[2017-10-04 20:03] #105 closed

[2017-10-05 03:31] hdhoang commented on #91
sorry about the spam. I'll reword to avoid closing this issue prematurely.

[2017-10-05 11:50] hdhoang commented on #91
The 2 remaining endpoints work with non-JSON messages:

- raw gitignore templates
- markdown and markdown/raw (receiving JSON or `text/plain`, returning `text/html`)

These would have to wait for a query builder with tunable `Accept` and `Content-Type`.

[2017-10-05 15:25] mgattozzi commented on #91
@hdhoang this could be another issue to open up regarding customizing those. Content-Type could be a function on each of the query builders with an Enum as input for various types you can choose

[2017-10-06 10:13] hdhoang commented on #91
I have a horrible implementation for `Accept`, working for the raw gitignore endpoint.

I think I'll define markdown endpoints now, then use them for further testing.

[2017-10-10 03:06] hdhoang commented on #45
That's a nice way to structure the tests. I'll switch #109 over to this method.

[2017-10-10 20:04] mgattozzi commented on #45
@hdhoang nice thanks!

[2017-10-10 20:08] #73 closed

[2017-10-11 01:09] ktomsic commented on #92
Do you mind if I work on this next?

[2017-10-11 02:25] mgattozzi commented on #92
No one else has claimed any of this so go for it!

[2017-10-11 12:33] akshatgoel commented on #97
Hi! I am looking to work on this one. However, I am having troubles in setting up the project. Specifically, When I run `cargo test`, tests fail with message :

`thread 'get_gitignore_templates' panicked at 'called `Result::unwrap()` on an `Err` value: Error { repr: Os { code: 2, message: "The system cannot find the file specified." } }', src\libcore\result.rs:860:4`

Error is similar for all test

[2017-10-11 13:32] mgattozzi commented on #97
Hey @akshatgoel what you're going to need is an [access token](https://help.github.com/articles/creating-a-personal-access-token-for-the-command-line/) for the tests to run! If you look [here](https://github.com/mgattozzi/github-rs/blob/master/tests/users.rs#L11) there's a function looking for the token in a file but it's failing. I should probably make this expect vs unwrap so that it works prope

[2017-10-11 13:39] akshatgoel commented on #97
Whoops! Beginner 101 mistake :) @mgattozzi Thanks for the quick response! It works now.

[2017-10-11 13:40] mgattozzi opened #112 "Needing an authentication token for tests is not obvious"
In #97 a possible contributor ran into an issue where the tests didn't run! This was because they didn't have a token from GitHub but that's completely non-obvious. This isn't a fun user experience either. There's two things that need to be done.

1. [CONTRIBUTING.md](../blob/master/CONTRIBUTING.md) needs to be updated to include a section on testing and the need for an [auth token from GitHub](ht

[2017-10-11 13:41] mgattozzi commented on #97
@akshatgoel it's not obvious which is my fault as a maintainer! I've opened up #112 to address this issue as well and it's an easy first issue on the repo. Glad they work now! :D Ping me if you need any help on this.

[2017-10-11 14:08] bryanjhv commented on #112
I'd like to take this one.
Which permissions are required for tests to run (so they can be specified in CONTRIBUTING)?

[2017-10-11 14:11] akshatgoel commented on #112
@bryanjhv I have actually published a PR for this one (not sure why it is not showing as referenced here). You can review it [here](https://github.com/mgattozzi/github-rs/pull/113).

That being said, I am not sure why the build failed. Looks like an unrelated issue. Will wait for @mgattozzi  's comments.

[2017-10-11 14:15] bryanjhv commented on #112
Ok, the only thing you're missing is the Rust part (`expect`) to notify users that need.

[2017-10-11 14:27] mgattozzi commented on #112
I also just normally say all of them for mine but:
- public_repo
- repo:status
- read:user

At the minimum it seems, but I haven't tested this out though. this is just my guess based off the endpoints called.

[2017-10-12 18:57] mgattozzi opened #114 "Macro Revamp"
Currently the way macros work is kind of unweildy. I have started a separate library based of github-rs that can be reused here eventually but it's not ready for use just yet. Most of the current code will have to be rewritten but everything should be easier to maintain overall.

[2017-10-18 14:08] jansol commented on #88
Duplicate of #97 ?

[2017-10-18 15:02] mgattozzi commented on #88
I think so. Thanks!

[2017-10-18 15:02] #88 closed

[2017-10-18 15:12] mgattozzi commented on #18
@jansol what do you mean by caching exactly? Each call to next() in the iterator would get the next set of pages that were specified. Or am I thinking of something else?

[2017-10-18 15:15] jansol commented on #18
I'm thinking that `next()` on the iterator would return one item, not one page. The implementation should fetch the data in reasonably sized pages (say, 25 items per page like the issues page seems to do).

[2017-10-18 15:18] mgattozzi commented on #18
Oh I see! Basically query the amount of pages they want, cache them somewhere, and allow them to be iterated over item by item, and not by page.

[2017-10-18 15:19] jansol commented on #94
Looking to add some of these, starting from the GETs (wow that list is huge)

[2017-10-18 15:21] jansol commented on #18
Yup. With this approach the user doesn't have to concern themselves with the page size at all and it allows doing things in a functional style, which is always nice.

[2017-10-18 15:23] mathstuf commented on #18
Well, you still want to control page size because if you're getting them all, cutting your queries by a factor of 4 (25 versus the pagemax of 100) is very useful.

[2017-10-18 16:34] mgattozzi commented on #94
@jansol now you know why I've asked for help and tagged a ton for Hacktober 😅 The API is quite large.

[2017-10-24 12:53] akshatgoel commented on #92
@ktomsic Are you working on this? I am planning to pick this up.

[2017-10-24 14:00] mgattozzi commented on #92
@akshatgoel There is a PR by @ktomsic in #108 for search but not notifications. I've been so busy with my National Guard/Civilian Job/Vacation that only now I'm getting around to PRs this week. Thanks for your patience!

[2017-10-24 14:09] akshatgoel commented on #92
@mgattozzi Thanks for the response. Does that mean I can pick this one up?

[2017-10-24 21:12] mgattozzi commented on #92
I'd say go for it. @ktomsic if you do want this still ping here. @akshatgoel start with implementing one of them like GET so if @ktomsic wants we can split them up amongst you!

[2017-10-25 00:40] ktomsic commented on #92
I have code written for all the notification endpoints, just working on testing and cleaning it up.

[2017-10-25 14:09] akshatgoel commented on #92
@ktomsic I had actually completed GET endpoints after @mgattozzi 's response. Since you claimed it first, I think your changes should be merged. I will pick something else :)

[2017-11-24 03:45] jaroslaw-weber opened #123 "workaround for not implemented APIs"
There are currently APIs that are not implemented. It would be great to have some workaround for that until the API is implemented.

[2017-11-24 08:48] jaroslaw-weber commented on #123
i found the custom endpoint. it would be great to have an example how to use it!

[2017-11-24 09:50] jaroslaw-weber opened #124 "add option to specify header"
i am trying to use preview custom endpoint (reactions), but i get an error:

[code]

[2017-11-26 23:49] mgattozzi commented on #124
Ah yeah that's true if you're using stuff that's being previewed you'll need some extra headers.

Really all that needs to be done is under `src/client.rs` add a `impl CustomQueryBuilder` block to add a function to allow mutating the header to a custom one. Would you like to submit a PR? I really need to go through the current ones but this shouldn't be too hard to do and I'd be willing to mentor

[2017-11-26 23:50] mgattozzi commented on #123
Yeah this would be great! Would you like to submit an example to the examples folder? I'm thinking this is blocked on #124 but if you do that in one PR it would be awesome! Again totally willing to mentor and help you understand the codebase

[2017-11-28 03:49] jaroslaw-weber commented on #124
I will try and send a PR later :)

[2017-12-01 13:22] Coding-Doctors commented on #90
I'd be willing to out this in (I have use for it), though it seems I might need some mentoring to understand how to use the macros to implement this.

[2017-12-10 22:38] mgattozzi opened #126 "Looking for Co-maintainers"
My life outside of work has really gotten more busy than I like and as such many PRs
and issues have been languishing away as currently I'm the creator and sole maintainer
of this repo. I think this is a mistake given that there are currently 7 outstanding PRs
and others looking to depend on this crate for their projects.

Because I'm doing some stuff outside of work that will be eating up a lot o

[2017-12-16 11:10] Michael-F-Bryan commented on #18
@mgattozzi how exactly is pagination implemented at the moment? I'm currently trying to list all repos starred or owned by a user and am having issues where you only get the first 30 or so repos. Is there an easy way to iterate over the results from a query?

I was imagining some extra `Paginated` trait which will has a default impl that inspects headers and will fetch the next page, yielding each

[2017-12-16 11:14] Michael-F-Bryan opened #127 "Add logging with the log crate"
I'm currently trying to troubleshoot issues with my application and found that `github_rs` doesn't use the `log` crate to show you what requests and responses are being sent behind the scenes. For some reason I can

Would you be open to me making a PR that adds in logging, printing the actual URL queried (as `debug`) and then the raw response (`trace`)?

[2017-12-17 00:39] Coding-Doctors commented on #127
See #126, however don't let that stop you from making that pr.

[2017-12-17 13:48] mathstuf commented on #18
Pagination is handled by HTTP headers sent by Github. I don't know how much this matters with APIv4 though.

[2017-12-17 13:58] mathstuf commented on #18
Note that "all" pagination is likely to hit API limits with large requests, so there may need to be backoff (there are headers for this) in the async case. I don't know what to do for the sync case.

[2017-12-28 18:14] mgattozzi commented on #90
@Coding-Doctors Sounds good! Take a look [here](https://github.com/mgattozzi/github-rs/blob/master/docs/design.md) for more info on the macros but if that's not enough let me know and I can answer questions you have. Previous PRs are also good examples to look at for this

[2017-12-28 18:16] mgattozzi commented on #127
I would totally be open to the @Michael-F-Bryan. I'm going through issues now to keep moving this forward. I finally have found some time this holiday season to work on these. Please do send it my way and I'll try to get that in ASAP for you. Especially because logging is a good thing to have for others.

[2017-12-28 18:20] mgattozzi commented on #18
API V4 (as I understand it) just sends it all back to you. You can limit how many you want with an input parameter to the calls.

@Michael-F-Bryan Right now pagination is not handled yet. Unfortunately the only workaround (for now) I can think of is the custom query builder executing for an endpoint and building up another request using the pagination link returned and executing that.

I'm open to

[2017-12-28 18:42] #124 closed

[2017-12-28 18:42] #123 closed

[2017-12-29 15:16] divarvel opened #130 "Query params support"
I'm not really sure about how query params are supposed to be handled.
[This](https://github.com/mgattozzi/github-rs/blob/master/docs/design.md#macros) part of the doc seems to imply query params are meant to be handled with macros (unfortunately the doc looks a bit out of date, as the examples don't really match with what's in the files).

I've tried this <https://github.com/divarvel/github-rs/co

[2017-12-29 19:55] mgattozzi commented on #130
If you look at this commit -> https://github.com/mgattozzi/github-rs/commit/be41a90a16abf12c5e5d0ce0ff11eaecff994ba7

You can see the details of how this all works. You should just be able to add multiple |?> on to it for it to work and add the query parameters. The `from` generated code handles if you already had a parameter specified before or not.

Try swapping the |=> to before the other calls

[2018-01-04 14:40] divarvel commented on #130
The order was indeed the issue, if anyone else runs into the same issue, the macro code says:
`|=> a -> B` *then* `|` *then* `|=> a -> b = C`, *then* `|?>`

[2018-01-04 14:40] #130 closed

[2018-01-04 16:41] mgattozzi commented on #130
@divarvel glad that was the case. At some point I'd like to get it working using `$something: tt` for recursive macros and so that the order won't matter but that's a lot of work I don't really want to do right now for little gain.

[2018-01-30 10:16] jaroslaw-weber commented on #114
do you think it is possible to generate whole api from api list?
for example
GET /users/:username/repos
would generate part for getting user repos.

if it is difficult to do it with macros, I think it may be possible with some layer of transpiling.

it would allow to just copy paste endpoints to implement them.

[2018-02-01 15:23] mathstuf commented on #18
[This blog post](http://xion.io/post/code/rust-unfold-pagination.html) has interesting ideas related to this issue.

[2018-02-03 07:41] xen0n opened #133 "rustls usage of ring blocks alternative platform support"
The most prominent dependency of `rustls` is `ring`; in its current form `ring` only supports the x86 and ARM platforms. As such minority architectures are broken and the upstream porting is unlikely in short-term.

As the crate shouldn't care about the actual TLS implementation, maybe the choice could be provided via `cfg` features. `native-tls` support would be decent but any configurable option

[2018-02-05 15:12] mgattozzi commented on #133
I'm definitely okay with this. I left comments on #134!

[2018-02-06 01:43] #133 closed

[2018-02-06 20:05] mgattozzi commented on #114
@jaroslaw-weber this would be really cool. I spun out a project [rust-web-apis/foundation](https://github.com/rust-web-apis/foundation/) to kind of do this at some point making the macros here easier to deal with. Ultimately I think it'll come down to procedural macros so that some compile time code can be run. The macro rules here work but they're limited. You can't put in a string with :user as

[2018-02-06 22:13] mgattozzi commented on #18
Really wish generators were stable to do this. Either way that's a neat post. Thanks @mathstuf. This seems fairly reasonable and would also help towards #72 working to actually provide an async interface.

[2018-02-07 13:17] jaroslaw-weber commented on #114
Great project idea! Making it easier to create a wrapper for REST apis is the way to go!
I tried very simple code generation approach (but without macros):
https://github.com/jaroslaw-weber/github_autogen

[2018-02-08 18:05] mgattozzi commented on #114
@jaroslaw-weber Yeah I built a lot of these macros as I was learning them and well they're not the easiest to contribute too. I'd like to clean them all up at some point. Having other things to do and other projects makes it a bit hard to do.

[2018-02-08 19:34] Dylan-DPC commented on #127
Hi @Michael-F-Bryan

Yeah you can go ahead and submit a PR.

[2018-02-09 10:46] Dylan-DPC commented on #74
@mgattozzi Having an issue with: https://github.com/mgattozzi/github-rs/blob/628a3c736766e7fa2f95c1ec68134a173ade03c8/src/headers.rs#L9

Since http doesn't have a type for `UserAgent` but uses a constant instead

[2018-02-09 11:05] Dylan-DPC commented on #112
#113 solves this so we can close this issue.

[2018-02-09 11:05] #112 closed

[2018-02-09 11:06] Dylan-DPC commented on #92
@ktomsic any updates on this?

[2018-02-12 15:59] mgattozzi commented on #74
@Dylan-DPC Could you use the [`get_raw`](https://docs.rs/hyper/0.11.18/hyper/header/struct.Headers.html#method.get_raw) method instead? We might also want to consider upstreaming a fix for that to http at somepoint.

[2018-02-15 13:37] #92 closed

[2018-02-15 17:16] mgattozzi commented on #126
I don't think I announced this yet but @Dylan-DPC will be helping me comaintain this repo, as I have a lot of stuff going on with the wasm working group as well as my own personal work as mentioned before. I'm going to keep this issue open for now in case anyone else wants to help! Thanks again @Dylan-DPC for volunteering :)

[2018-02-23 08:01] #45 closed

[2018-03-02 14:17] jaroslaw-weber opened #139 "Create separate repo for graphql api wrapper"
I think it would be better to create new repo for gql version of wrapper. Posting issues about graphql here feels odd.

[2018-03-02 14:23] jaroslaw-weber opened #140 "Graphql not working? Error when parsing json"
So I have this function:
[code]
And when i try to use the request with graphql api its not working. But when I use it with:
https://developer.github.com/v4/explorer/
It is working.

I don't remember exactly but I get the response from github stated that it had some problem with parsing json.

[2018-03-02 16:09] jaroslaw-weber opened #141 "What about tests?"
There are maybe two tests which really don't test much. It would be great to be able to write tests for this lib, but how would we go about that?

[2018-03-02 17:07] Dylan-DPC commented on #141
HI Jaroslaw

Thanks for showing interest. There are a few more [tests](https://github.com/mgattozzi/github-rs/commit/0eb819e621e6263577bd36d2f222ddfd2f1983a2)  I added last week (not yet released).

You can follow the same workflow for these integration tests. If you want to write tests, let me know we can discuss this further.

[2018-03-02 23:41] mgattozzi commented on #139
Since what I had made was mostly an experiment and wrapped around the work here it made development easier. Kind of like how [diesel](https://github.com/diesel-rs/diesel) has different parts of it there, including it's migrations tool. I might split this up but I'm not sure yet. I haven't touched that code in a while. I'm kind of hoping that work is done on a [graphql client](https://github.com/nr

[2018-03-02 23:46] mgattozzi commented on #140
So I haven't touched this code in a while. I'm sure the API has changed a lot or something I don't know about. It's very much a thin wrapper around it. Are you using the new_raw() function? Also you don't need to call to_string() as the api does it for you. Could you also try without the raw string just to make sure it's not the problem? (I doubt it is)

[2018-03-02 23:49] mgattozzi commented on #141
Yeah definitely need more tests. Here's some problems that I never really got around to:
1) Token is rate limited. Shouldn't be a problem with a small amount of tests but if you have a lot run quickly it can be a problem
2) How do you mutate something on the site, query it, then revert it?
3) If you do mutate something on the site, the tests run in parallel automatically, how do you get the code t

[2018-03-03 01:28] jaroslaw-weber commented on #141
those tests are not integrated with travis unfortunately. we could pass token as mgattozzi said but requests are limited.

the only idea i have is to run mock server before the tests and query the mock test locally. also there would need to be an option for github struct to connect to mock server.

[2018-03-03 01:33] jaroslaw-weber commented on #140
yeah i passed it to newraw function. maybe because i dont use backslashes on new line like in the example?

[2018-03-03 11:23] Dylan-DPC commented on #141
Ouch yes. Will fix that soon. Thanks

[2018-03-05 12:09] Dylan-DPC commented on #141
@mgattozzi is there any way we can get the key (if poss from the encrypted file) for the travis tests?

[2018-03-05 12:39] jaroslaw-weber commented on #140
ok so I found the problem and fix. i will send a pr soon.
the problem was that you send the body as json but you dont escape quotation marks and newlines.
i tested it locally and it was working (with my query i posted earlier)

[2018-03-05 12:39] Dylan-DPC commented on #140
That's great :+1:

[2018-03-05 13:10] jaroslaw-weber commented on #141
running tests on each PR will exhaust token quickly, we would need to be careful about number of tests so it would be only temporary solution. better to create a simulation (dedicated mock plugin) for exhaustive testing.

[2018-03-05 13:25] Dylan-DPC commented on #141
Yes it will. This is just a temporary solution which works fine for current amount of tests + PR we receive.

[2018-03-06 03:48] mgattozzi commented on #141
@jaroslaw-weber yeah considering the small amount of PRs for now that rate limit won't be bad for now. Eventually we'll want to mock or maybe contact GitHub about a possible restriction limit being removed for a specific token.

@Dylan-DPC I ended up being to busy tonight to look at it but I'll see if I can quickly set it up before my morning stand up at work tomorrow :)

[2018-03-06 14:43] mgattozzi commented on #140
Hey @jaroslaw-weber awesome thanks for figuring it out!

[2018-03-29 03:54] mgattozzi commented on #18
So this is the completely "Janky Not Nice" version I threw together cause now I needed it for my own stuff. Just wanted to give interested people a chance to look it over and suggest better things because this is in no way robust.
https://github.com/mgattozzi/github-rs/tree/pagination

[2018-03-29 03:55] mgattozzi commented on #18
@gdesmott pinging you as well for this issue since you also seem interested in depagination

[2018-03-29 04:48] jansol commented on #94
Unfortunately I won't be able to tackle the remaining endpoints anytime soon. If anyone feels like giving it a try, go ahead.

[2018-04-13 15:34] nbigaouette-eai commented on #18
Until this is implemented in a nice way, how should we go about getting multiple pages?

For example, how would one get issues that appear on the second page? The [github docs](https://developer.github.com/v3/guides/traversing-with-pagination/) mentions the `page=X` and `per_page=Y" url arguments but I couldn't find how to control those when using `client.get().repos().owner("owner").repo("repo").

[2018-04-17 13:03] nbigaouette-eai commented on #18
I ended up using a custom enpoint like that:
[code]

[2018-04-29 13:53] theduke opened #144 "Typed responses"
The nested resource / query builder api of this crate is convenient, but to me, the main point of using a api client crate of just hand-coding the URLs are structured response types.

Is there a reason why those are not used here?

[2018-05-04 22:39] kornelski opened #145 "Multithreaded use?"
I would like to use the client in a multithreaded program, but I'm getting:

* `std::rc::Rc<std::cell::RefCell<tokio_core::reactor::Core>>` cannot be sent between threads safely
* `std::rc::Rc<hyper::client::Client<hyper_rustls::connector::HttpsConnector>>` cannot be sent between threads safely

Is there a way to use it where `Send` is required?

[2018-05-07 13:52] mgattozzi commented on #145
I'd need to make a multithreaded version that uses `Arc<Mutex<Core>>` and `Arc<Client<HttpsConnector>>`. I don't think it would be too hard to modify the macros to allow a multithreaded version.

[2018-05-07 14:47] mgattozzi commented on #145
I threw up an implementation here: https://github.com/mgattozzi/github-rs/tree/multi-thread-drifting
Do you mind giving the branch a spin to see if it fixes your problem and works as you'd expect it too? The Github struct now implements Send/Sync so you can send it across threads.

[2018-05-16 17:55] kornelski commented on #145
Unfortunately, I get sporadic deadlocks when I try to use it from Rayon.

Thread making github-rs call:

[code]

main thread:

[code]

and I'm seeing 3-4 threads called "hyper-dns0"

[code]

[2018-05-22 15:33] mgattozzi commented on #145
Hmmm... Do you have an example I can look at? Sorry I'm on vacation right now, and soon I'll be at RustFest Paris, so I don't have much time at all to really be working on this, but I do want you to know I see this.

[2018-05-27 20:13] kornelski commented on #145
In macros.rs `fn execute()` I've moved:

                let mut core_ref = self.core.lock();

from before the request, to be locked after the response, right before:

                core_ref.run(work)?

and that seems to have stopped the lock-ups.

[2018-05-27 21:07] kornelski commented on #145
I've noticed that when lockups happen, they're because in macros.rs:

[code]

the request never reaches `and_then`. As if tokio core wasn't making any progress. Maybe you need to use `core.remote()`?

[2018-06-01 20:29] enricostano opened #147 "Current release still using old dependency"
Hi, I see from https://github.com/mgattozzi/github-rs/pull/132 that you upgraded `hyper-rustls` to `0.12.0` but the `github-rs` current release `0.6.1` is still pointing to `hyper-rustls v0.11.0`.

[code]
Can you please issue a new release to get the latest changes? Thanks!

[2018-06-01 20:53] enricostano commented on #147
In any case even pointing to the git repo `ring` doesn't compile: https://gist.github.com/enricostano/c08dd106934cce9918e13ee93dcbaf81

Thanks for working on this!

[2018-06-04 14:22] mgattozzi commented on #147
Hey! I was on vacation so I just haven't had time to do updates, but with hyper 0.12 out I think I can roll this in as part of an upgrade :)

[2018-06-11 22:00] mmstick opened #148 "No get() method?"
The documentation & examples are confusing me. They all reference using a `get()` method, but I'm not seeing it in the API documentation. Nor is there any documentation on how to use the `query()` methods.

- https://docs.rs/github-gql-rs/0.0.1/github_gql/client/struct.Github.html#method.get
^ Points to nothing

[2018-06-19 15:45] mati865 commented on #148
`get()` is only available for V3 API version: https://docs.rs/github-rs/0.6.1/github_rs/?search=get

[2018-06-19 16:03] mmstick commented on #148
@mati865 Any examples on how to use the V4 API?

[2018-06-19 16:13] mati865 commented on #148
@mmstick the only example I could find is [here](https://github.com/mgattozzi/github-rs/tree/master/github-gql-rs#getting-started).
I cannot help you because I'm only using V3 API.

[2018-06-21 10:52] joe-askattest opened #150 "Please re-publish to Crates.io"
* 4 months ago a bug with `orgs` having the wrong name was fixed [here](https://github.com/mgattozzi/github-rs/commit/aceb611ff34a9e173ddac63fe6d9145edb751ab7)
 * The last time the crate was published was 6 months ago [here](https://crates.io/crates/github-rs)

So Crates.io still has the bug above.

Would it be possible to get this crate published again so that the version on crates.io is working?

[2018-06-21 11:05] Dylan-DPC commented on #150
@joe-askattest Thanks.

All we have to do is publish a new release right?

[2018-06-21 15:03] joe-askattest commented on #150
@Dylan-DPC Yup. You will need to bump the version number first. Looking at the commit history it looks like new stuff is going out, so I'd bump it to `0.7.0` to indicate it's not just bug fixes.

Then `cargo publish`.

[2018-06-21 15:30] Dylan-DPC commented on #150
@joe-askattest yeah thanks. I'm aware of the release process. Since you mentioned "get published again" I wasn't sure whether you meant a new release or the entire process all over again.

[2018-06-21 15:32] joe-askattest commented on #150
Ah ok. Np.

[2018-06-21 15:37] mgattozzi commented on #150
I've been real swampped with things and I kind of left this library by the wayside. I believe we can push a new version. I can do that today, but honestly I just don't have the capacity to be working on this much in terms of getting in bugfixes answering issues etc. It might also be good to look at [hubcaps](https://github.com/softprops/hubcaps) as an alternative.

[2018-06-22 13:30] joe-askattest commented on #150
Thank you. The lack of structs being provided by `github-rs` has been a real pain point for me and Hubcaps solves this. So I will try it out.

It would still be great to get the `github-rs` crate updated.

[2018-06-22 13:31] Dylan-DPC commented on #150
I can do it the release.

[2018-06-22 22:00] kornelski opened #151 "Usage without a valid token?"
My app makes GitHub requests, and I'd rather not publish it with my own token. This means my users have to obtain and configure their own token, which is a hassle and an extra installation step for them.

AFAIK GitHub allows some low level of usage without authentication, which would be enough for new users. Unfortunately, I don't see a way to make unauthenticated requests via github-rs.

[2018-08-08 17:37] kornelski opened #152 "set_header is unusable without Hyper dependency"
github-rs doesn't re-export `hyper::header` module that defines actual headers (such as `Accept` and the `Header` trait). There's `Headers` re-export, but that's just a collection type that is unusable without individual header definitions.

Because of that there's no way to use `set_header` in github-rs with only the types that github-rs crate itself exports. It requires adding `hyper` as another

[2018-08-27 04:42] porglezomp opened #154 "No way to use the PATCH endpoints?"
The `PATCH` endpoints require providing a body for the request, but there doesn't seem to be any way to do this. (I'm trying to update a gist). The checklist seems to indicate that `PATCH` for gists is done, am I missing something?

[2018-09-11 21:32] mathstuf commented on #139
Having done some GraphQL bits for GitHub API support, using the [graphql-client](https://github.com/tomhoule/graphql-client) crate doesn't really necessitate a standalone `github` crate at all. Just write the queries you want and you get the types you need generated. Webhooks still need some kind of support though.

[2018-10-10 22:31] shinzui commented on #150
@Dylan-DPC you get a chance to release?

[2018-10-10 22:31] Dylan-DPC commented on #150
@shinzui oops. Will wait for #158 to be merged and then issue a release :+1:

[2018-11-08 09:42] Mange commented on #147
Any update on this?

[2018-11-08 09:42] Mange commented on #150
Any update on this?

[2018-11-14 15:37] chinanf-boy opened #159 "`/user/repos` just with 30 number, how about I want all repos"
## api example

https://api.github.com/users/chinanf-boy/repos?per_page=100&page=3

[2019-01-04 14:55] dwijnand commented on #150
As a side note, it's a shame to have both two different libraries.  Are there any intentional differences?  I think it would be nice to pull in the same direction in one library 🙂

[2019-01-08 09:45] kunicmarko20 opened #162 "Pagination?"
I am looking into this package and I don't see anything for pagination, meaning we aren't be able to fetch all the data, only the first page, am I correct? Also I see #159 and I assume the user meant to ask the same question.

https://developer.github.com/v3/guides/traversing-with-pagination/

[2019-01-11 21:07] kornelski opened #163 "New release?"
This crates.io version of this crate currently doesn't work (in a new install without an old `Cargo.lock`), because its own dependencies have become incompatible with the outdated hyper:

  candidate versions found which didn't match: 0.6.2
  location searched: crates.io index
required by package `rustls v0.11.0`
    ... which is depended on by `hyper-rustls v0.11.0`
    ... which is depended on b

[2019-01-14 20:20] mgattozzi commented on #163
I'm willing to give commit/maintainership rights as well cause I just do not have the time/capacity to maintain this currently.

[2019-01-14 21:59] kornelski commented on #163
I'm happy to help

[2019-02-17 01:30] kornelski commented on #163
ping

[2019-02-18 16:11] kunicmarko20 commented on #162
Ended up implementing my own client and parsing pagination header with hyper https://github.com/kunicmarko20/ghnotifier-rs/blob/0347b6632605b48e06576b3aca7931605487d0d5/src/github_client.rs#L47-L61.

[2019-02-18 16:11] #162 closed

[2019-02-26 03:00] brndnmtthws commented on #163
@mgattozzi I'd be willing to take over maintenance. I need this for a bot I'm working on for some of my other OSS projects.

[2019-02-26 10:03] Dylan-DPC commented on #163
Sorry for the delay. Will try and have a release this week.

[2019-03-02 03:42] #145 closed

[2019-03-07 19:09] svend commented on #62
Would an override for the GitHub API URL prefix (https://api.github.com/) be sufficient? (Similar to how Enterprise support was added to the Clojure GitHub library: https://github.com/Raynes/tentacles/pull/11/files)

[2019-03-07 20:58] mathstuf commented on #62
As a start, yes. But sometimes github is tight-lipped about email addresses for accounts and in my code, I transform such a non-response into `username@users.noreply.github.com`. This part is obviously wrong for enterprise deployments (though I've heard they just use `username@hosting.url`, I don't know if that's universal or a hosting option).

[2019-03-09 18:10] kornelski commented on #163
@Dylan-DPC ping

[2019-03-09 19:57] Dylan-DPC commented on #163
@kornelski was discussing with Matt. I am currently moving this repo to a new github organisation so that I can add you and others interested as co-maintainers and maybe the crate can get some traction from there. Will release once i'm done with that.

[2019-03-20 02:35] kornelski commented on #163
@Dylan-DPC 	ping

[2019-03-20 14:22] Dylan-DPC commented on #163
@kornelski yeah so before we do the release we need to do the following steps:

1) update the repo to match the organisational change
2) provide a new encrypted token which fixes the issue of the build being broken at the moment

I'll try and get this done later today, but if anyone has time and wants to go ahead with it, feel free.

[2019-03-20 16:01] Daxorinator opened #167 "Details wrong after organisation move"
Many details are now wrong after the move to the new organization / repository.
For example, cargo.toml, docs.rs, README.md, etc.

I'll be submitting a PR to fix these soon.

[2019-03-20 16:22] Daxorinator commented on #167
Should be fixed by #168

[2019-03-20 18:13] kornelski commented on #163
I get the whole org changes thing, but currently the project is *dead*, and all it needs to work again is running `cargo publish` and pressing enter.

[2019-03-20 18:18] brndnmtthws commented on #163
If you grant me the permissions, I can do it.

Who has access to crates.io for the deploy key?

[2019-03-20 18:21] Dylan-DPC commented on #163
@brndnmtthws i'll do it no issues. just want to get somethings working before that.

[2019-04-24 14:09] kennethlarsen commented on #163
Any updates on this?

[2019-04-24 15:16] Dylan-DPC commented on #163
@kennethlarsen sorry about the delays. Pulled in the tests yesterday and ran them after fixing the token issue, but they were still failing so i'll look into it again today

[2019-04-24 21:47] kornelski commented on #163
@Dylan-DPC Can you just run `cargo publish` on whatever is there already? The version on crates.io *doesn't even compile*, so anything is better than that.

[2019-04-25 05:11] fairingrey commented on #163
@Dylan-DPC asked me to take a moment to help fix some of the issues in this crate, and I've wrapped up some of those fixes in https://github.com/github-rs/github-rs/pull/170.

Hopefully we can see a version bump soon after that's merged, but currently Travis is having trouble using OpenSSL to generate an AES key so it's not building properly. Sans that, however, if you pull and build my branch, yo

[2019-04-25 19:10] Dylan-DPC commented on #167
Closing this as it is fixed. Thanks :)

[2019-04-25 19:10] #167 closed

[2019-04-25 19:10] Dylan-DPC commented on #163
@kornelski the new release is up on crates.io.

[2019-04-25 19:10] #163 closed

[2019-04-25 19:11] Dylan-DPC commented on #150
Hey

We just released the new version (0.7.0) on crates.io. Sorry about the delays :)

[2019-04-25 19:11] #150 closed

[2019-04-25 19:14] Dylan-DPC commented on #147
The new release up, so this is fixed. Thanks

[2019-04-25 19:14] #147 closed

[2019-04-25 19:15] Dylan-DPC commented on #126
We now have an organisation that is maintaining the crate, so closing this

[2019-04-25 19:15] #126 closed

[2019-04-25 19:52] mathstuf commented on #139
For those curious, [here](https://gitlab.kitware.com/utils/rust-ghostflow/tree/master/ghostflow-github/src) is our code using GraphQL for communicating with github.

[2019-05-09 14:41] itkovian commented on #144
Would it be an option to define structs for the response and deserialise the JSON to populate them?

[2019-07-24 14:51] deankarn opened #173 "Update github-gql-rs published crate version"
I was recently trying to update some code which uses your `github-gql-rs` crate, contained within this repo, but it looks like due to some dependencies being yanked it can no longer be used.
[code]

it looks like you have updated the dependencies though [here](https://github.com/github-rs/github-rs/blob/master/github-gql-rs/Cargo.toml#L29) but no new release has been published.

Would you be willi

[2019-08-08 17:44] BatmanAoD commented on #162
There is also an existing issue: #18

[2019-08-08 17:46] BatmanAoD commented on #159
Duplicate of #18

[2019-08-25 03:06] patrickelectric opened #175 "is it possible to use login and password to create the Github object ?"

[2019-10-16 17:44] michael-grunder commented on #173
Older issue, but in case others run into this you can just pull from git for now

[code]

[2019-11-23 04:31] elbaro opened #176 "Default media type"
A Github app requires a custom media type for requests.
However `new_custom(..media: MediaType..)` was removed in this commit:
`https://github.com/github-rs/github-rs/commit/c915e4615dbfadba753bd2fea86ba4b2d51db05c`.

Do you plan to get it back?

[2019-12-17 08:38] rethab opened #177 "Status of Repository?"
hi, what is the status of this repository? I see the build is failing and several PRs are unmerged w/o any comments.

If there's anything specific I could help with to breathe some life into this, please let me know.

[2020-07-12 16:26] creekorful commented on #17
Hello there. I have face the same use case where I want to build a Github Bot in Rust.
Any news on this? Someone plan to integrate webhooks? Are help wanted?

Thanks in advance!

[2020-07-16 15:27] rostyslavkhaniukov commented on #177
@Dylan-DPC, what about this question?

[2020-07-16 15:34] rostyslavkhaniukov commented on #177
or @brndnmtthws

[2020-07-22 19:42] SirWindfield commented on #177
I'd be willing to be an active maintainer in the sense that I'd take a look at PRs and issues and merge accordingly. Given the number of outstanding PRs there are a lot of people relying on the crate :)

[2020-10-24 02:44] jakechv commented on #177
Is there an active fork for this crate at all? I'd be happy to contribute to maintenance as well.

[2021-03-07 22:18] SirWindfield commented on #177
I don't think so. It seems that the project isn't being used a lot anymore. It doesn't get pulled in that often. There are other projects that fill in the gap, such as [hubcaps](https://lib.rs/crates/hubcaps), [octocrab](https://github.com/xampprocky/octocrab).